@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #11111f;
  --verde: #26ff00;
  --branco: #dbe9ff;
  --botao-ativo: #1500ff;
  --botao-inativo: rgba(255, 255, 255, 0.5);
  --texto-fundo: rgba(255, 0, 0, 0.3);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}




























































@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #11111f;
  --verde: #26ff00;
  --branco: #dbe9ff;
  --botao-ativo: #1500ff;
  --botao-inativo: rgba(255, 255, 255, 0.5);
  --texto-fundo: rgba(255, 0, 0, 0.3);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}










































































































